<span class="nav-item">
  <div [hidden]="user">
  <a  (click)="Modal(true)" class="button" >
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
<span> Entrar</span>
</a>
</div>
<div [hidden]="!user">
	<a (click)="Logout()" class="button is-primary">
		<span class="icon">
            <i class="fa fa-download"></i>
          </span>
		<span>Sair</span>
	</a>
</div>
</span>


<div [ngClass]="{ 'modal': true, 'is-active': modal }" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content">

		<div class="box text-left">
			<div class="container">
				<p class="title is-3">Entrar</p>
				<div class="columns">
					<div class="column padding-20">
						<p class="title is-5">Use sua conta webmart.com</p>
						<p class="control has-icon has-icon-left">
							<input class="input is-medium" type="text" placeholder="usuário ou e-mail">
							<i class="fa fa-user"></i>
						</p>
						<p class="control has-icon has-icon-left">
							<input class="input is-medium" type="text" placeholder="senha">
							<i class="fa fa-lock"></i>
						</p>
						<p class="control">
							<button class="is-block button is-medium is-primary">Entrar</button>
							<a href="#">Esqueci a senha</a>
						</p>
					</div>
					<div class="column padding-20">
						<span class="title is-5">Não tem conta?</span>
						<a href="#">Cadastre-se aqui</a>

					</div>

				</div>
				<hr/>
				<div class="padding-20">
					<p>Nossa Política de Privacidade foi atualizada. Ao continuar navegando em nosso portal, você concorda com suas condições.</p>

				</div>

			</div>

		</div>

	</div>
	<button (click)="Modal(false)" class="modal-close"></button>
</div>