<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Produtos
			</h1>
			<h2 class="subtitle">
				Prateleira do supermercado
			</h2>
		</div>
	</div>
	<div class="hero-foot">
		<div class="container">
			<nav class="tabs is-boxed">
				<ul>
					<li *ngFor="let c of categorias" [ngClass]="{'is-active': categoria == c }" (click)="Categoria(c)">
						<a>{{ c.nome }}</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</section>

<!--<nav class="nav has-shadow">
	<div class="container">
		<div class="nav-left">
			<a *ngFor="let c of categorias" [ngClass]="{'is-active': categoria == c }" (click)="Categoria(c)" class="nav-item is-tab">{{ c.nome }}</a>
		</div>
	</div>
</nav>-->
<div class="container">

</div>

<div class="container">

	<nav class="nav has-shadow level">

		<div class="level-item has-text-centered">
			<p class="heading"></p>
			<p class="title">{{ Itens() }} itens</p>
		</div>
		<div class="level-item has-text-centered">
			<p class="heading"></p>
			<p class="title">R$ {{ Valor().toFixed(2) }}</p>
		</div>
		<!--<div class="level-item has-text-centered">
			<p class="heading"></p>
			<p class="title">456K</p>
		</div>
		<div class="level-item has-text-centered">
			<p class="heading"></p>
			<p class="title">789</p>
		</div>-->

	</nav>

	<div class="columns is-multiline container is-fluid">
		<div class="card item column is-3" *ngFor="let p of produtos">
			<a (click)="Produto(p)">

				<div class="card-image">
					<figure class="image is-4by3">

						<img src="{{ p.thumbnail }}" alt="">
						
					</figure>
				</div>
			</a>

			<div class="card-content">
				<div class="media">
					<div class="media-content right">
						<p class="title is-4">{{ p.nome }}</p>
						<p class="subtitle is-5"> {{ p.descricao }}</p>
					</div>
				</div>
				<hr/>

				<div class="content">

					<h2 class="center"> R$ {{ p.preco }} por {{ p.unidade ? "unidade" : "" }} {{ p.peso ? "kg" : "" }}</h2>
					<hr/>
					<div class="container">
						<h3 class="center">


						</h3>
						<div class="columns is-multiline">
							<div class="column center">
								<button (click)="Adicionar(p)" class="button is-primary"><i class="fa fa-plus"></i><i class="fa fa-shopping-cart"></i></button>
							</div>
							<div class="column center">
								{{ Quantidade(p) > 0 ? (Quantidade(p) > 1 ? Quantidade(p) + " itens" : Quantidade(p) + " item") : "Nenhum no carrinho" }}
								<br/>

								<small><b>{{ Quantidade(p) > 0 ? "R$ " + (Quantidade(p) * p.preco).toFixed(2) : "" }}</b></small>
							</div>
							<!--<div class="column">
								<p class="control has-addons" style="padding:0 5px 0 5px;">
									<input (change)="Manual(p, $event)" class="input" type="text" placeholder="Quantidade" value="{{ compra[p._id] }}">
									<a class="button is-info"> <i class="fa fa-refresh"></i> </a>
								</p>
							</div>-->
							<div class="column center">
								<div [hidden]="!(Quantidade(p) > 0)">
									<button (click)="Remover(p)" class="button is-warning"><i class="fa fa-minus"></i><i class="fa fa-shopping-cart"></i></button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div [ngClass]="{ 'modal': true, 'is-active': produto != null }" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content">
				<div class="box">
					<article class="media">
						<div class="media-left">
							<figure class="image is-64x64">
								<img src="http://placehold.it/128x128" alt="Image">
							</figure>
						</div>
						<div class="media-content">
							<div class="content">
								<p>
									<strong>{{ produto?.nome }}</strong> <small> {{ Quantidade(produto) }} x R$ {{ produto?.preco }} </small> <small>R$ {{ (produto?.preco * Quantidade(produto)) }}</small>
									<br> {{ produto?.descricao }}
								</p>
							</div>
							<nav class="level">
								<div class="level-left">
									<a class="level-item" (click)="Adicionar(produto)">
										<span class="icon is-small"><i class="fa fa-plus"></i></span>
									</a>
									<a class="level-item" (click)="Remover(produto)">
										<span class="icon is-small"><i class="fa fa-minus"></i></span>
									</a>
								</div>
							</nav>
						</div>
					</article>
				</div>
			</div>
			<button (click)="Produto(null)" class="modal-close"></button>
		</div>



	</div>
</div>