 <nav class="nav has-shadow" id="top">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item" routerLink="/home">
          <img src="../images/bulma.png" alt="Logotipo">
        </a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a routerLink="/supermercado" class="nav-item is-tab">
          Supermercados
        </a>
        <a routerLink="/entrar" class="nav-item is-tab">
          Team
        </a>
        <a class="nav-item is-tab">
          Help
        </a>
        <span class="nav-item">
          <a class="button">
            Log in
          </a>
          <a class="button is-info">
            Sign up
          </a>
        </span>
      </div>

			<my-login></my-login>
    </div>
  </nav>

<!--<nav class="nav">
	<div class="nav-left">
		<a class="nav-item is-brand">
			<span class="icon">
			<i class="fa fa-shopping-cart fa-5"></i>  {{ AppService.Supermercado?.nome }}
      </span>
		</a>
	</div>

	<div class="nav-center">
		<a class="nav-item" href="#">
			<span class="icon">
        <i class="fa fa-facebook"></i>
      </span>
		</a>
		<a class="nav-item" href="#">
			<span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
		</a>
	</div>

	<span class="nav-toggle">
    <span></span>
	<span></span>
	<span></span>
	</span>


	<div class="nav-right nav-menu">
		<a routerLink="/home" class="nav-item">
      Início
    </a>

		<span class="nav-item">
			<a [hidden]="!AppService.Cep" routerLink="/supermercado" href="#">
				Supermercados
			</a>
		</span>

		<span class="nav-item">
			<a [hidden]="!supermercado" routerLink="/produto"  href="#">
      Produto 
    </a>
		</span>



		<a class="nav-item" routerLink="/cep">
      Definir cep 
    </a>

		<my-login></my-login>

	</div>

</nav>-->

<div>
	<router-outlet>
	</router-outlet>
</div>


<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				<strong>Webmart</strong> construído com <a href="http://bulma.io/">Bulma</a>.
				<!--<a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.-->
			</p>
			<p>
				<a class="icon" href="https://github.com/jgthms/bulma">
					<i class="fa fa-shopping-cart"></i>
				</a>
			</p>
		</div>
	</div>
</footer>