<div class="section product-header">
	<div class="container">
		<div class="columns">
			<div class="column">
				<span class="title is-3">Supermercados</span>
				<span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
				<span class="title is-4 has-text-muted">Category</span>
			</div>
		</div>
	</div>
</div>

<br/>

<div class="container">
	<h1 [hidden]="supermercados != null">Carregando...</h1>

	<div class="columns">

		<div class="card column" style="margin:5px;" *ngFor="let supermercado of supermercados">
			<a (click)="Supermercado(supermercado)">
				<div class="card-image">
					<figure class="image is-2by1">
						<img src="https://api.adorable.io/avatars/150/supermercado{{supermercado.nome}}" alt="">
					</figure>
				</div>
				<div class="card-content">

					<div class="media">
						<div class="media-content">
							<p class="title is-5">{{ supermercado.nome }}</p>
							<p class="subtitle is-6"> {{ supermercado.descricao }}</p>
						</div>
					</div>

					<div class="content">
						Rua Jorgina, 65 – Bairro Chiquita – Ipatinga/MG
						<br>
						<br>
						<small>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						</small>
					</div>

				</div>
			</a>
		</div>



	</div>

</div>


<br/>
